doctype html
html
    |
    |
    head
        meta(charset="utf-8")
        title Сетки
        link(rel="stylesheet" href="style.css")
    |
    |
    body
        header
              img.logo(src="image/logo.jpg")
              ul.nav
                 li
                     span.home Home
                 li
                     span.about About
                 li
                   div(class="search")
                     form(action='/search/', target='_blank')
                         input(type='hidden', name='searchid', value='808327')
                         input(class="lupa" type='search', name='text', required='', placeholder='Search...')
              div(class="menu")
                img.menu1(src="image/1.jpg")
                img.menu2(src="image/2.jpg")
                img.menu2(src="image/3.jpg")
        main

        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
        div(class="picture")
            img(src='image/watermelon.png', alt='арбузик')
            p(class="ptext") Арбузик
