doctype html
html
    |
    |
    head
        meta(charset="utf-8")
        title Сетки
        link(rel="stylesheet" href="style.css")
    |
    |
    body
        .wrapper
            .item.item1
               .title
                 h1
                   span.title1 PRETTY

                   | DOCS
                 h3.title2
                   |  Free Bootstrap theme for your project documentation
                   br
                   | Designed with for developers
            .item.item2
               .box
                    h2.title3 Getting started is easy!
                    p Welcome to prettyDocs.This page is an example of how you pan use card view to present segments of your documentation. You can customise the icon fonts based on your needs.
            .item.item3
               .box
                    h4 Quick Start
                    p Demo example, consectetuer adipisceng elit
            .item.item4
                .box
                    h4 Components
                    p Lorem ipsun dolor sir amer, consectetuer adipiscing elit
            .item.item5
                .box
                    h4 Charts
                    p Lorem ipsun dolor sir amer, consectetuer adipiscing elit
            .item.item6
                .box
                    h4 FAQs
                    p Layout for FAQ page.Lorem ipsun dolor sir amer, consectetuer adipiscing elit
            .item.item7
                .box
                    h4 Showcase
                    p Layout for showcase page.Lorem ipsun dolor sir amer, consectetuer adipiscing elit
            .item.item8
                .box
                    h4 License & Credits
                    p Layout for license & credits page. Cobsectetuer adipiscing elit