doctype html
html
    meta(charset="utf-8")
    title 3d
    link(rel='stylesheet' href="style1.css")
body
    .daddy
        .child.c1
        .child.c2
        .child.c3
        .child.c4
        .child.c5
