@import "var.styl"


body
    margin 0
    padding 0
    background blue - #002058af

p
    border 1px solid mediumvioletred
    input
        background mediumvioletred
        border-radius 4px
        margin-left: 10%;
header
    ul
        flex(row, space-between, center)

