my-red = #fa5499
my-blue = #005578ff

flex(a, b, c)
  display flex
  flex-direction a
  justify-content b
  align-items c

body
  margin 0
  padding 0
  background my-blue - #000000af

p
  border 1px solid my-red
  input
    background mediumvioletred
    border-radius 10px
header
  ul
    flex(row, space-between, center)