body
  margin 0
  padding 0
.wrapper
  width 100%
  background #E6E6FA
  margin 0 auto
  display grid
  grid-row-gap 20px
  grid-column-gap 10px
  grid-template-columns auto auto auto
  grid-template-rows auto auto auto
  grid-template-areas "header header header" "aside aside aside" "section1 section2 section3 " "section4 section5 section6"
.item
  display flex
  justify-content center
  align-items center
.item1
  border-top: 4px solid #00CED1
  grid-area header
  background-color: #696969
  height 300px
.item2
  height 300px
  grid-area aside
.item3
  border 2px solid #A9A9A9
  border-radius 3px
  border-top: 4px solid #00FF00
  margin auto
  width 200px
  height 200px
  grid-area section1
.item4
  border 2px solid #A9A9A9
  border-radius 3px
  border-top: 4px solid blueviolet
  margin auto
  width 200px
  height 200px
  grid-area section2
.item5
  border 2px solid #A9A9A9
  border-radius 3px
  border-top: 4px solid lightblue
  width 200px
  height 200px
  margin auto
  grid-area section3
.item6
  border 2px solid #A9A9A9
  border-radius 3px
  border-top: 4px solid darkviolet
  width 200px
  height 200px
  margin auto
  grid-area section4
.item7
  border 2px solid #A9A9A9
  border-radius 3px
  border-top: 4px solid lightblue
  margin auto
  width 200px
  height 200px
  grid-area section5
.item8
  border 2px solid #A9A9A9
  border-radius 3px
  border-top: 4px solid orange
  width 200px
  height 200px
  margin auto
  grid-area section6

